services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: tododb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-ppassword"]
      timeout: 20s
      retries: 10
  backend:
    build:
      context: ./Backend
    environment:
      DB_PASSWORD: password
    depends_on:
      mysql:
        condition: service_healthy
    ports:
     - "8080:8080"
  frontend:
    build:
      context: ./Frontend
    depends_on:
      - backend
    ports:
       - "8081:80"
volumes:
  mysql_data:

